.hotelsList {
  width: 300px;

  .hotelsList--title {
    font-weight: bold;
    letter-spacing: 0.4px;
    font-size: 21px;
    line-height: 46px;
    margin-left: 5px;
  }

  .hotelsList--addBtn {
    background: #ffffff;
    position: relative;
    color: #000000;
    width: 43px;
    height: 44px;
    box-shadow: 0px 0px 3px rgba(138, 138, 138, 0.2);
    .material-icons {
      padding-top: 5px;
      color: #0e68fd;
      position: absolute;
      top: 1px;
      left: 5.5px;
      font-size: 30px;
    }
  }


  .hotelsList--addBtn:focus {

    box-shadow: 2px 2px 2px rgba(138, 138, 138, 0.4);
  }

  .page-item.active .page-link {
    background-color: white;
    color: black;
    border: none;
    font-weight: bold;
  }

  .page-link {
    background-color: white;
    color: black;
    border: none;
    padding: 7px 7px;
    &:focus {
      box-shadow: none;
    }
  }


  .page-item:first-child,
  .page-item:last-child {
    .page-link {
      display: none;
    }
  }

  .page-item:nth-last-child(2),
  .page-item:nth-child(2) {
    .page-link {
      padding: 0;
      font-size: 43px;
      line-height: 30px;
    }
  }

  .material-icons {
    padding-top: 5px;
  }


  .hotelsList--pagination{
    font-size: 14px;
  margin-right: 20px;

  }


}

